& when (@_ubuntu_font_used = true) {    
    & when (@_ubuntu_font_300_used = true) {
        @font-face {
            font-family: '_ubuntu_';
            src: url('ubuntu_light.woff2') format('woff2');
            font-weight: 300;
        }
    }
    & when (@_ubuntu_font_400_used = true) {
        @font-face {
            font-family: '_ubuntu_';
            src: url('ubuntu_regular.woff2') format('woff2');
            font-weight: 400;
        }
    }
    & when (@_ubuntu_font_500_used = true) {
        @font-face {
            font-family: '_ubuntu_';
            src: url('ubuntu_medium.woff2') format('woff2');
            font-weight: 500;
        }
    }
    & when (@_ubuntu_font_700_used = true) {
        @font-face {
            font-family: '_ubuntu_';
            src: url('ubuntu_bold.woff2') format('woff2');
            font-weight: 700;
        }
    }
}
& when (@_opensans_font_used = true) {
    & when (@_opensans_font_300_used = true) {
        @font-face {
            font-family: '_open_sans_';
            src: url('opensans_light.woff2') format('woff2');
            font-weight: 300;
        }
    }
    & when (@_opensans_font_400_used = true) {
        @font-face {
            font-family: '_open_sans_';
            src: url('opensans_regular.woff2') format('woff2');
            font-weight: 400;
        }
    }
    & when (@_opensans_font_600_used = true) {
        @font-face {
            font-family: '_open_sans_';
            src: url('opensans_semibold.woff2') format('woff2');
            font-weight: 600;
        }
    }
    & when (@_opensans_font_700_used = true) {
        @font-face {
            font-family: '_open_sans_';
            src: url('opensans_bold.woff2') format('woff2');
            font-weight: 700;
        }
    }
    & when (@_opensans_font_800_used = true) {
        @font-face {
            font-family: '_open_sans_';
            src: url('opensans_extrabold.woff2') format('woff2');
            font-weight: 800;
        }
    }
}
& when (@_montserrat_alternates_font_used = true) {
    & when (@_montserrat_alternates_font_100_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_thin.woff2') format('woff2');
            font-weight: 100;
        }
    }
    & when (@_montserrat_alternates_font_200_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_extralight.woff2') format('woff2');
            font-weight: 200;
        }
    }
    & when (@_montserrat_alternates_font_300_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_light.woff2') format('woff2');
            font-weight: 300;
        }
    }
    & when (@_montserrat_alternates_font_400_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_regular.woff2') format('woff2');
            font-weight: 400;
        }
    }
    & when (@_montserrat_alternates_font_500_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_medium.woff2') format('woff2');
            font-weight: 500;
        }
    }
    & when (@_montserrat_alternates_font_600_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_semibold.woff2') format('woff2');
            font-weight: 600;
        }
    }
    & when (@_montserrat_alternates_font_700_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_bold.woff2') format('woff2');
            font-weight: 700;
        }
    }
    & when (@_montserrat_alternates_font_800_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_extrabold.woff2') format('woff2');
            font-weight: 800;
        }
    }
    & when (@_montserrat_alternates_font_900_used = true) {
        @font-face {
            font-family: '_montserrat_alternates_';
            src: url('montserratalternates_black.woff2') format('woff2');
            font-weight: 900;
        }
    }
}
& when (@_montserrat_font_used = true) {
    & when (@_montserrat_font_100_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_thin.woff2') format('woff2');
            font-weight: 100;
        }
    }
    & when (@_montserrat_font_200_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_extralight.woff2') format('woff2');
            font-weight: 200;
        }
    }
    & when (@_montserrat_font_300_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_light.woff2') format('woff2');
            font-weight: 300;
        }
    }
    & when (@_montserrat_font_400_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_regular.woff2') format('woff2');
            font-weight: 400;
        }
    }
    & when (@_montserrat_font_500_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_medium.woff2') format('woff2');
            font-weight: 500;
        }
    }
    & when (@_montserrat_font_600_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_semibold.woff2') format('woff2');
            font-weight: 600;
        }
    }
    & when (@_montserrat_font_700_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_bold.woff2') format('woff2');
            font-weight: 700;
        }
    }
    & when (@_montserrat_font_800_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_extrabold.woff2') format('woff2');
            font-weight: 800;
        }
    }
    & when (@_montserrat_font_900_used = true) {
        @font-face {
            font-family: '_montserrat_';
            src: url('montserrat_black.woff2') format('woff2');
            font-weight: 900;
        }
    }
}
& when (@_balsamiq_sans_font_used = true) {
    & when (@_balsamiq_sans_font_400_used = true) {
        @font-face {
            font-family: '_balsamiq_sans_';
            src: url('balsamiqsans_regular.woff2') format('woff2');
            font-weight: 400;
        }
    }
    & when (@_balsamiq_sans_font_700_used = true) {
        @font-face {
            font-family: '_balsamiq_sans_';
            src: url('balsamiqsans_bold.woff2') format('woff2');
            font-weight: 700;
        }
    }
}